<%- include("partials/header") %>

<div class="container">
    <div class="gif-container">
        <%post.forEach(newPost=>{%>

        <div class="gif hover-like">
            <!-- <div class="stage"> -->
            <div id="heart" class="heart"></div>
            <!-- </div> -->
            <p class="tags">#awesome #cool</p>
            <a href="/posts/<%=newPost._id%>/<%=newPost.title.replace(/\s+/g, '-').toLowerCase()%>"><img class="gif-img"
                    src="<%=newPost.url%>"></a>
        </div>
        <%});%>
    </div>
</div>

<!-- Script for adding heart animation -->
<script>
    var ht = document.querySelectorAll('#heart');


    document.addEventListener('click', e => {
        if (e.target.classList.contains('heart')) {
            e.target.classList.toggle('is_active');
        }
    });
</script>
//heart.classList.toggle('far');

<script src="js/landing.js"></script>
<%- include("partials/footer") %>