<%- include("partials/header") %>

<form action="/categories" method="POST">
    <input type="submit" name="category" value="horror" id="horror">
    <input type="submit" name="category" value="sports" id="sports">
    <input type="submit" name="category" value="reaction" id="reaction">
</form>
<div class="container">
    <div class="gif-container">
        <%post.forEach(newPost=>{%>
        <div class="gif hover-like">
            <i class="far fa-heart hidden"></i>
            <div class="container">
                <div class="gif-container">
                    <%post.forEach(newPost=>{%>

                    <div class="gif hover-like">
                        <!-- <div class="stage"> -->
                        <div id="heart" class="heart"></div>
                        <!-- </div> -->
                        <p class="tags">#awesome #cool</p>
                        <a href="/posts/<%=newPost._id%>/<%=newPost.title.replace(/\s+/g, '-').toLowerCase()%>"><img
                                class="gif-img" src="<%=newPost.url%>"></a>
                    </div>
                    <%});%>
                </div>
            </div>
            <<<<<<< HEAD=======<!-- Script for adding heart animation -->
                <script>
                    var ht = document.querySelectorAll('#heart');


                    document.addEventListener('click', e => {
                        if (e.target.classList.contains('heart')) {
                            e.target.classList.toggle('is_active');
                        }
                    });
                </script>
                <!-- // //heart.classList.toggle('far');
// }

// function myFunction(e) {
// e.preventDefault();
// //do something differant context menu
// heart.classList.toggle('fas fa-heart');
// return false;
// }
// var like = document.querySelectorAll('.gif.hover-like');

// like.addEventListener('contextmenu', function (ev) {
// ev.preventDefault();
// toggles();
// alert('success!');
// return false;
// }, false) -->

                <!--
   ------FOR HOLD AND LIKE-------------
<script>
    var element = document.querySelectorAll('#heart');
    (function () {
        var start,
            end;


        element.onmousedown = function () {
            start = +Date.now(); // get unix-timestamp in milliseconds
        };


        element.onmouseup = function () {
            end = +Date.now();

            var diff = end - start; // time difference in milliseconds
            if (diff > 1000) { //2 second delay
                toBeExecutedNMillisecondsAfterAnchorWasClicked();
            }
        };

    })();
>>>>>>> 5886e8625b7608c70521f1514d976352d3b7e60d

    function toBeExecutedNMillisecondsAfterAnchorWasClicked() {
        console.log('function start');
        element.classList.toggle('fas');
        element.classList.toggle('far');
    }
</script>


<<<<<<< HEAD
<!-- SCRIPT FOR ADDING GIF IN GIF-CONTAINER 
=======
 SCRIPT FOR ADDING GIF IN GIF-CONTAINER
>>>>>>> 5886e8625b7608c70521f1514d976352d3b7e60d
    <script>
        var gifContainer = document.querySelector('.gif-container');
        // var columns = document.querySelectorAll('.column');
        var columnNumber = 0;
        var s = 0;

        console.log(window.innerWidth);
        var currentColumnIndex = 0;

        function createColumn() {
            if (window.innerWidth > 1500) {
                columnNumber = 4;
            } else if (window.innerWidth > 900) {
                columnNumber = 3;
            } else if (window.innerWidth > 700) {
                columnNumber = 2;
            } else {
                columnNumber = 1;
            }

            var s = columnNumber;

            gifContainer.innerHTML = "";

            for (var i = 0; i < columnNumber; i++) {
                var div = document.createElement('div');
                div.classList.add('column');
                gifContainer.appendChild(div);
            }
            fillingColumns();
        }

        function fillingColumns() {
            <% post.forEach(newPost=>{%>
            var columns = document.querySelectorAll('.column');
            var n = columns.length;
            var div = document.createElement('div');
            div.classList.add('gif');
            div.innerHTML = `<a href="/posts/<%=newPost._id%>/<%=newPost.title.replace(/\s+/g, '-').toLowerCase()%>"><img src="<%=newPost.url%>"> </a>`;
            columns[currentColumnIndex].appendChild(div);
            if (currentColumnIndex == n - 1) {
                currentColumnIndex = 0;
            } else {
                currentColumnIndex++;
            }
            <%});%>
        }

        function init() {
            createColumn();
        }

        init();
        window.addEventListener('resize', () => {
            var c = 0;
            if (window.innerWidth > 1500) {
                c = 4;
            } else if (window.innerWidth > 900) {
                c = 3;
            } else if (window.innerWidth > 700) {
                c = 2;
            } else {
                c = 1;
            }


            if (c != s) {
                init();
            }

        });
    </script> -->

                <script src="js/landing.js"></script>
                <%- include("partials/footer") %>