<%- include("../partials/header") %>
    <div class="containerG">
<<<<<<< HEAD
        <div class="container-content">
            <main>
                <div class="gif">
                    <h1>
                        <%= post.title %>
                    </h1>
                    <image autoplay muted loop src="<%= post.url %>"></image>
    
                    <div class="author">
                        <p>
                            -by <strong><a href="/user/<%=post.uploaderID%>"><%=post.uploader%></a> </strong>
                        </p>
                    </div>
                    <button class="prev">prev</button>
                    <button class="next">next</button>
=======
        <main>
            <div class="gif">
                <h1>
                    <%= post.title %>
                </h1>
                <image autoplay muted loop src="<%= post.url %>"></image>

                <div class="author">
                    <p>
                        -by <strong><a href="/user/<%=post.uploaderID%>/<%=post.uploader%>"><%=post.uploader%></a> </strong>
                    </p>
>>>>>>> 1cdc10df2bf704a4a61de6be43817aa24c4a2188
                </div>
            </main>
            
            <aside>
                <button>like 💜</button>
                <p class="views">3,456,789 views</p>
    
                <div class="share">
                    <h3>Share</h3>
                    <div class="share-button">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-reddit"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    
                </div>
                <div class="link">
                    <h3>URL</h3>
                    <div class="url">
                        <div class="url-address">Sharma Styling Dhang Se Kar</div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="related">
            <h1>Related</h1>
            <div class="related-container">
                <div class="related-gif">
                    <a href="#"><img src="https://thumbs.gfycat.com/ImpressiveSpecificArrowworm.webp"></a>
                </div>
                <div class="related-gif">
                    <a href="#"><img src="https://thumbs.gfycat.com/ImpressiveSpecificArrowworm.webp"></a>
                </div>

<<<<<<< HEAD
                <div class="related-gif">
                    <a href="#"><img src="https://thumbs.gfycat.com/ImpressiveSpecificArrowworm.webp"></a>
=======
                <div class="related-column">
                    <video class="related-gif" autoplay muted loop src="https://thumbs.gfycat.com/ShockedPettyHyrax-mobile.mp4"></video>
                </div>
            </div>
        </main>
        <aside>
            <button>like 💜</button>
            <p class="views">3,456,789 views</p>

            <div class="share">
                <h3>Share</h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-reddit"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            <div class="link">
                <h3>URL</h3>
                <div class="url">
                    <div class="url-address">
                        <%=post.url%>
                    </div>
>>>>>>> 1cdc10df2bf704a4a61de6be43817aa24c4a2188
                </div>
            </div>
            
        </div>
    </div>
    <%- include("../partials/footer") %>